<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Materilize CDN link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/Project-2/public/css/styles3.css" />
    <title>The Purr-fect Match</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo right">The Purr-fect Match</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="index.html">Home</a></li>
            <li><a href="badges.html">Contact Us</a></li>
            <li><a href="https://www.facebook.com/groups/DenverAdoptCat">Facebook</a></li>
            <li><a href="marketplace.handlebars">Marketplace</a></li>
            <li><a href="msgboard.handlebars">Message Board</a></li>
          </ul>
        </div>
      </nav>
    </header>
    
    <h2>Aphrodite</h2>

<img class="cats" src="./images/Aph.JPG" alt="aph">

<div class="col s12 m7">
    <h2 class="header">My Story</h2>
    <div class="card horizontal">
      <div class="card-image">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Hello there, my name is Aphrodite. I am a calm, sweet and very friendly girl. I love human interaction: playing, snuggling and petting. I share my shelter room with other cats, so I would be OK in a home with another gentle cat, given a gradual introduction. I am also available for foster, in which case the shelter would take care of the special diet and any medical needs. I am young at heart and have many good years ahead of me. You should see me chasing the laser light. Do you want a beautiful, playful and loving companion? If the answer is yes, then please stop by to meet me - Aphrodite the beautiful.</p>
        </div>
        <div class="card-action">
        </div>
      </div>
    </div>
  </div>

    <footer>
      <h6>Copyright: The Cool Catz</h6>
    </footer>
    <script src="/public/js/view.js"></script>
  </body>
