<header>
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo right">The Purr-fect Match</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="index.handlebars">Home</a></li>
            <li><a href="badges.html">Contact Us</a></li>
            <li><a href="collapsible.html">Facebook</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="divider"></div>

    <!-- ROW WITH FILTER-->
    <div class="row">
        <div class="col s2" id="filter">
            <h4>Filter</h4>
            <ul class="button-group float-center">
            <label>Browser Select</label>
            <select class="browser-default">
                <option value="" disabled selected>Breed</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
            <select class="browser-default">
                <option value="" disabled selected>Age</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
            <select class="browser-default">
                <option value="" disabled selected>Zip Code</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
            </ul>
        </div>
    
        <div class="col s10">
          <!-- cat marketplace title and description   -->
          <div class="row">
                <h4>Cat marketplace</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero voluptatibus atque iusto officiis omnis pariatur amet maiores eligendi dolores tenetur, autem eos ipsum repellat sit magnam, consequuntur quis aliquam quia!
                    </p>
                <div class="divider"></div>
            </div>

            <!-- container with cat cards -->
            <div class="container">
                <div class="row">
                  <div class="col l4 m4 s12">
                    <div class="card">
                      <div class="card-img">
                        <img src="img/catimg2.jpg" class = "responsive-img">
                      </div>
                      <div class="card-content">
                        <span class="card-title">Cat Name</span>
                        <p>
                            <ul>
                                 <li>Age</li>
                                 <li>Breed</li>
                                 <li>Owner name</li>
                                 <li>Located at zip code</li>
                            </ul>
                        </p>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title" class="right">Cat Name</span>
                        <p>Hello</p>
                      </div>
                    </div>
                  </div>
                  <div class="col l4 m4 s12">
                    <div class="card">
                      <div class="card-img">
                        <img src="img/catimg3.jpg" class = "responsive-img">
                      </div>
                      <div class="card-content">
                        <span class="card-title">Cat Name</span>
                        <p>
                            <ul>
                                 <li>Age</li>
                                 <li>Breed</li>
                                 <li>Owner name</li>
                                 <li>Located at zip code</li>
                            </ul>
                        </p>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title" class="right">Cat Name</span>
                        <p>Hello</p>
                      </div>
                      
                    </div>
                  </div>
                  <div class="col l4 m4 s12">
                    <div class="card">
                      <div class="card-img">
                        <img src="img/catimg.jpg" class = "responsive-img">
                      </div>
                      <div class="card-content">
                        <span class="card-title">Cat Name</span>
                        <p>
                            <ul>
                                 <li>Age</li>
                                 <li>Breed</li>
                                 <li>Owner name</li>
                                 <li>Located at zip code</li>
                            </ul>
                        </p>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title" class="right">Cat Name</span>
                        <p>Hello</p>
                      </div>
                    </div>
                  </div>
                </div>   
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="divider"></div>
    
    <footer>
      <h6>Copyright: The Cool Catz</h6>
    </footer>