<header>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo right">The Purr-fect Match</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="facebook.com">Facebook</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="divider"></div>

<div class="row">
    <div class="col s3" id="filter">
        <h4>Select preferences</h4>
        <ul class="button-group float-center">
            <label>Browser Select</label>
            <select class="browser-default">
                <option value="" disabled selected>Breed</option>
                {{!-- is there a way to loop through the breed column??? --}}
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
            <select class="browser-default">
                <option value="" disabled selected>Temperament</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </ul>
        <button class="btn waves-effect waves-light" type="submit" id="catbutton">Submit</button>
    </div>

    <div class="col s9">
        <!-- cat marketplace title and description   -->
        <div class="row">
            <h4>Matches</h4>
            <div class="divider"></div>
            <div class="container">
                <div class="row">
                    <div class="col l4 m4 s12">
                        <div class="card">
                            <div class="card-img">
                                <img src="img/catimg2.jpg" class="responsive-img">
                            </div>
                            <div class="card-content">
                                <span class="card-title">Breed: </span>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m4 s12">
                        <div class="card">
                            <div class="card-img">
                                <img src="img/catimg3.jpg" class="responsive-img">
                            </div>
                            <div class="card-content">
                                <span class="card-title">Breed: </span>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m4 s12">
                        <div class="card">
                            <div class="card-img">
                                <img src="img/catimg.jpg" class="responsive-img">
                            </div>
                            <div class="card-content">
                                <span class="card-title">Breed: </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="divider"></div>


    <footer>
        <h6>Copyright: The Cool Catz</h6>
    </footer>