<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/Project-2/public/css/styles2.css" />
    <title>The Purr-fect Match</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo right">The Purr-fect Match</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="index.html">Home</a></li>
            <li><a href="badges.html">Contact Us</a></li>
            <li><a href="https://www.facebook.com/groups/DenverAdoptCat">Facebook</a></li>
            <li><a href="marketplace.handlebars">Marketplace</a></li>
            <li><a href="msgboard.handlebars">Message Board</a></li>
          </ul>
        </div>
      </nav>
    </header>
    
    <h2>Message Board</h2>
    <!-- message board -->

<div class="messageboard">
    <div class="container">
      <img src="#" alt="Avatar">
      <p>Hello. I am looking for a Russian Blue, does anyone have any ideas?</p>
      <span class="time-right">11:00</span>
    </div>
    
    <div class="container darker">
      <img src="#" alt="Avatar" class="right">
      <p>Hey! I saw one in the marketplace in California</p>
      <span class="time-left">11:01</span>
    </div>
    
    <div class="container">
      <img src="#" alt="Avatar">
      <p>Thank you so much!!!</p>
      <span class="time-right">11:02</span>
    </div>
    
    <div class="container darker">
      <img src="#" alt="Avatar" class="right">
      <p>No problem! I hope you find your Purrfect Match!!</p>
      <span class="time-left">11:05</span>
    </div>
  </div>


    <footer>
      <h6>Copyright: The Cool Catz</h6>
    </footer>
    <script src="/public/js/view.js"></script>
  </body>
</html>