<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Materilize CDN link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/Project-2/public/css/styles3.css" />
    <title>The Purr-fect Match</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo right">The Purr-fect Match</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="index.html">Home</a></li>
            <li><a href="badges.html">Contact Us</a></li>
            <li><a href="https://www.facebook.com/groups/DenverAdoptCat">Facebook</a></li>
            <li><a href="marketplace.handlebars">Marketplace</a></li>
            <li><a href="msgboard.handlebars">Message Board</a></li>
          </ul>
        </div>
      </nav>
    </header>
    
    <h2>Percy Jackson</h2>

<img class="cats" src="./images/Percy.jpg" alt="Percy Jackson">

<h3>My Story</h3>
<p>Meet Percy! He's new to Ashys Home Rescue and here's what we know so far: He's an adult neutered male arriving in Colorado around 12/22/20, along with three of his kitty shelter friends. All are available for adoption and we're learning more about them every day, so stay tuned for more info. To apply to adopt Percy, go to the Ashyshomerescue.org website, fill out a kitty application and send it in. A volunteer from Ashys Home Rescue will get back to you as soon as they can.</p>

    <footer>
      <h6>Copyright: The Cool Catz</h6>
    </footer>
    <script src="/public/js/view.js"></script>
  </body>
