/* ******************************************** */
/* THIS IS FOR THE INDEX PAGE */
#match_signup {
  height: 500px;
  background-image: url("/img/mancarryingcat.jpg");
  background-size: 700px;
  background-repeat: no-repeat;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

#testimonials {
  background-color: rgba(250, 192, 184, 0.747);
  margin-top: 50px;
  height: 150px;
  width: auto;
  text-align: center;
}

footer {
  text-align: center;
}

/* ***************************************** */
/* THIS IS FOR THE MATCH PAGE */

/* #breed {
  height: auto;
  background-color: rgba(233, 216, 208, 0.719);
  height: 500px;
} */


