/* for index.handlebars */
#match_signup {
  height: 500px;
  background-image: url("./img/mancarryingcat.jpg");
  background-size: 700px;
  background-repeat: no-repeat;
}

#testimonials {
  background-color: rgba(250, 192, 184, 0.747);
  height: 150px;
  width: auto;
  text-align: center;
}

h6 {
  text-align: center;
}
